.dark-mode {
    background-color: #21242a;
    color: white;

    & header {
        background-color: #25282e;
        color: white;
    }

    & a {
        color: white;
    }

    & h2 {
        & span {
            color: #25282e;
        }
    }

    & .search-field {
        background-color: #25282e;
        color: white;
        border: 1px solid white;

        &::placeholder {
            color: white;
            opacity: 0.9;
        }
    }

    & .login-button {
        &::after {
            opacity: 1;
        }
    }

    & .search-button {
        background-color: #25282e;
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;

        &::before {
            background: url('/img/searchWhite.png') 0 0/100% 100% no-repeat;
        }
    }

    & .wrapper {
        background-color: #25282e;

        & .line {
            background-color: white;
        }

        & h3 {
            & span {
                border: 1px solid white;
            }
        }
    }

    & footer {
        background-color: #25282e;
    }

    & .poster {
        color: white;
        background-color: #2f333b;

        & a {
            color: white;
        }

        &:hover {
            -webkit-box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
            -moz-box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
            box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
        }

        & .image {
            & p {
                background-color: #2f333b;
            }
        }
    }

    & .tag {
        border: 1px solid white;

        &::before {
            background-color: white;
        }
    }

    & .series-button {
        border: 1px solid white;
    }

    & .delete-tag_circle {
        border: 1px solid white;
    }

    & .delete-tag_stick_l {
        background-color: white;
    }

    & .delete-tag_stick_r {
        background-color: white;
    }

    & .create-wrapper {
        background-color: #2f333b;
    }

    & form {
        background-color: #2f333b;
    }

    & input {
        background-color: #2f333b;
    }

}
