.info-block {
    & h3 {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    &_main {
        display: flex;

        &_right {
            padding: 20px;

            & p {
                font-size: 16px;
                line-height: 19px;
            }

            & p::first-letter {
                margin-left: 15px;
            }
        }
    }
}

.series {
    margin-top: 15px;
}

h4 {
    font-size: 18px;
    margin: 12px 0;
}

.series-button {
    padding: 7px;
    width: 80px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    color: black;
    border: 1px solid #25282e;
}
.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.series-navigate {
    padding: 7px;
    width: 120px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    color: black;
    border: 1px solid #25282e;
}
video{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 8px; 
    align-self: center;
}
.season {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 15px;
}

.rating-block {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.35;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;

    &_content {
        background-color: white;
        padding: 30px;
        border-radius: 30px;
        &_buttons{
            display: flex;
            gap: 8px;
            & a{
                color: black;
                font-size: 17px;
            }
        }
    }
    
}
.active {
    display: flex;
    overflow: hidden;
}