@import "nullstyle.scss";
@import "dark.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


$delay: 0.35s;

html {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

body {
    background-color: #ebf0fa;
}

header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 18px;
    //width: 100vw;
    & a {
        color: black;
        font-size: 18px;
    }

    & h2 {
        font-size: 25px;
        font-weight: 700;

        & span {
            background-color: hotpink;
            color: white;
            border-radius: 5px;
            padding: 3px 5px;
        }
    }

    & ul {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    & form {
        display: flex;
    }
}

.search-button {
    height: 34px;
    width: 34px;
    background-color: white;
    border-radius: 0 4px 4px 0;
    border-top: 1px solid #25282e;
    border-right: 1px solid #25282e;
    border-bottom: 1px solid #25282e;

    &::before {
        content: '';
        display: block;
        background: url('/img/searchBlack.png') 0 0/100% 100% no-repeat;
        position: relative;
        height: 20px;
        width: 20px;
        left: 6.5px;
        z-index: 100000;
    }
}

.header-nav {
    display: flex;
    gap: 20px;
}

.header-right-section {
    display: flex;
    align-items: center;
    gap: 10px;

    & input {
        border-radius: 4px 0 0 4px;
        border: 1px solid #25282e;
        padding: 6px;
        font-size: 16px;

        &::placeholder {
            color: black;
            opacity: 0.7;
        }
    }
}

.login-button {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 5px;

    &::before {
        content: '';
        display: block;
        background: url('/img/userBlack.png') 0 0/100% 100% no-repeat;
        position: relative;
        height: 20px;
        width: 20px;
        left: -3px;
        z-index: 100000;
    }

    &::after {
        content: '';
        display: block;
        background: url('/img/userWhite.png') 0 0/100% 100% no-repeat;
        position: relative;
        left: -69.5px;
        height: 20px;
        width: 20px;
        opacity: 0;
        z-index: 100001;
    }
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    appearance: none;
    background-color: #25282e;
    margin: 0;
    font: inherit;
    color: black;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 4px;
    display: grid;
    place-content: center;
    overflow: hidden;
    margin-right: -8px;

    &::before {
        content: "";
        width: 22px;
        height: 22px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: #fff;
    }

    &:checked::before {
        transform: scale(1);
    }
}
/*.animation {
    transition: $delay;
    & .login-button {
        &::after {
            transition: $delay;
        }
    }
}*/

footer {
    position: fixed;
    z-index: 20;
    padding: 12px;
    bottom: 0;
    width: 100%;
    background-color: white;

    & a {
        color: black;
    }
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1220px;
    min-height: 100vh;
    background-color: white;
    padding: 15px 35px;

    & h3 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 13px;

        & span {
            border: 1px solid #25282e;
            padding: 2px 8px 4px 12px;
            border-radius: 20px;
            font-weight: 300;
    
        }
    }

    & .line {
        width: 100%;
        height: 2px;
        margin: 5px 0 10px;
        background-color: #25282e;
    }
}

.section {
    //gap: 10px;
    width: 100%;
    //flex-wrap: wrap;
    padding: 10px;
    //display: flex;
}

.poster {
    width: 100%;
    min-width: 238px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 12px;
    color: black;
    background-color: #ebf0fa;
    padding: 14px;
    border-radius: 10px;

    & a {
        color: black;
    }

    &_content {
        display: flex;
    }

    &:hover {
        -webkit-box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
        -moz-box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
        box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
    }

    & span {
        display: block;
        margin-top: 8px;
    }

    & .image {
        display: flex;
        justify-content: end;
        & p {
            display: flex;
            align-items: center;
            margin: 6px 20px 0 0;
            position: absolute;
            z-index: 7;
            background-color: white;
            padding: 3px;
            border-radius: 4px;
        }

        & p::before {
            content: '';
            display: block;
            background: url('/img/star.png') 0 0/100% 100% no-repeat;
            position: relative;
            height: 20px;
            width: 20px;
            z-index: 10;
        }
    }

    & img {
        border-radius: 10px;
        width: 210px;
        margin-right: 15px;
        margin-right: 15px;
    }

    & .title {
        font-size: 20px;
        margin: 7px 0 7px;
    }
}

.tag {
    border-radius: 50px;
    padding: 4px 9px 5px;
    border: 1px solid #25282e;
    color: #25282e;
    display: flex;
    align-items: center;
    gap: 4px;
    &::before{
        content: '';
        display:block;
        width: 5px;
        height: 5px;
        background-color: #25282e;
        border-radius: 50%;
        margin-top: 2px;
    }
}

.tags {
    margin-top: 10px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.delete-tag {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    margin-bottom: -2px;

    &_circle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #25282e;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_stick_l {
        width: 1px;
        height: 12px;
        background-color: #25282e;
        transform: rotate(45deg);
        position: absolute;
        z-index: 5;
    }

    &_stick_r {
        width: 1px;
        height: 12px;
        background-color: #25282e;
        transform: rotate(135deg);
        position: absolute;
        z-index: 6;
    }
}

@import "detailpage.scss";
@import "createpage.scss";
