@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.dark-mode {
  background-color: #21242a;
  color: white;
}
.dark-mode header {
  background-color: #25282e;
  color: white;
}
.dark-mode a {
  color: white;
}
.dark-mode h2 span {
  color: #25282e;
}
.dark-mode .search-field {
  background-color: #25282e;
  color: white;
  border: 1px solid white;
}
.dark-mode .search-field::placeholder {
  color: white;
  opacity: 0.9;
}
.dark-mode .login-button::after {
  opacity: 1;
}
.dark-mode .search-button {
  background-color: #25282e;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.dark-mode .search-button::before {
  background: url("/img/searchWhite.png") 0 0/100% 100% no-repeat;
}
.dark-mode .wrapper {
  background-color: #25282e;
}
.dark-mode .wrapper .line {
  background-color: white;
}
.dark-mode .wrapper h3 span {
  border: 1px solid white;
}
.dark-mode footer {
  background-color: #25282e;
}
.dark-mode .poster {
  color: white;
  background-color: #2f333b;
}
.dark-mode .poster a {
  color: white;
}
.dark-mode .poster:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(166, 173, 186, 0.5);
  -moz-box-shadow: 0px 0px 12px 0px rgba(166, 173, 186, 0.5);
  box-shadow: 0px 0px 12px 0px rgba(166, 173, 186, 0.5);
}
.dark-mode .poster .image p {
  background-color: #2f333b;
}
.dark-mode .tag {
  border: 1px solid white;
}
.dark-mode .tag::before {
  background-color: white;
}
.dark-mode .series-button {
  border: 1px solid white;
}
.dark-mode .delete-tag_circle {
  border: 1px solid white;
}
.dark-mode .delete-tag_stick_l {
  background-color: white;
}
.dark-mode .delete-tag_stick_r {
  background-color: white;
}

html {
  font-family: "Inter", sans-serif;
  height: 100%;
}

body {
  background-color: #ebf0fa;
}

header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 18px;
}
header a {
  color: black;
  font-size: 18px;
}
header h2 {
  font-size: 25px;
  font-weight: 700;
}
header h2 span {
  background-color: hotpink;
  color: white;
  border-radius: 5px;
  padding: 3px 5px;
}
header ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
header form {
  display: flex;
}

.search-button {
  height: 34px;
  width: 34px;
  background-color: white;
  border-radius: 0 4px 4px 0;
  border-top: 1px solid #25282e;
  border-right: 1px solid #25282e;
  border-bottom: 1px solid #25282e;
}
.search-button::before {
  content: "";
  display: block;
  background: url("/img/searchBlack.png") 0 0/100% 100% no-repeat;
  position: relative;
  height: 20px;
  width: 20px;
  left: 6.5px;
  z-index: 100000;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-right-section input {
  border-radius: 4px 0 0 4px;
  border: 1px solid #25282e;
  padding: 6px;
  font-size: 16px;
}
.header-right-section input::placeholder {
  color: black;
  opacity: 0.7;
}

.login-button {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.login-button::before {
  content: "";
  display: block;
  background: url("/img/userBlack.png") 0 0/100% 100% no-repeat;
  position: relative;
  height: 20px;
  width: 20px;
  left: -3px;
  z-index: 100000;
}
.login-button::after {
  content: "";
  display: block;
  background: url("/img/userWhite.png") 0 0/100% 100% no-repeat;
  position: relative;
  left: -69.5px;
  height: 20px;
  width: 20px;
  opacity: 0;
  z-index: 100001;
}

input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  appearance: none;
  background-color: #25282e;
  margin: 0;
  font: inherit;
  color: black;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 4px;
  display: grid;
  place-content: center;
  overflow: hidden;
  margin-right: -8px;
}
input[type=checkbox]::before {
  content: "";
  width: 22px;
  height: 22px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #fff;
}
input[type=checkbox]:checked::before {
  transform: scale(1);
}

/*.animation {
    transition: $delay;
    & .login-button {
        &::after {
            transition: $delay;
        }
    }
}*/
footer {
  position: fixed;
  z-index: 20;
  padding: 12px;
  bottom: 0;
  width: 100%;
  background-color: white;
}
footer a {
  color: black;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1220px;
  min-height: 100vh;
  background-color: white;
  padding: 15px 35px;
}
.wrapper h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 13px;
}
.wrapper h3 span {
  border: 1px solid #25282e;
  padding: 2px 8px 4px 12px;
  border-radius: 20px;
  font-weight: 300;
}

.line {
  width: 100%;
  height: 2px;
  margin: 5px 0 10px;
  background-color: #25282e;
}

.section {
  width: 100%;
  padding: 10px;
}

.poster {
  width: 100%;
  min-width: 238px;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 12px;
  color: black;
  background-color: #ebf0fa;
  padding: 14px;
  border-radius: 10px;
}
.poster a {
  color: black;
}
.poster_content {
  display: flex;
}
.poster:hover {
  -webkit-box-shadow: 0px 0px 12px 0px rgba(166, 173, 186, 0.5);
  -moz-box-shadow: 0px 0px 12px 0px rgba(166, 173, 186, 0.5);
  box-shadow: 0px 0px 12px 0px rgba(166, 173, 186, 0.5);
}
.poster span {
  display: block;
  margin-top: 8px;
}
.poster .image {
  display: flex;
  justify-content: end;
}
.poster .image p {
  display: flex;
  align-items: center;
  margin: 6px 20px 0 0;
  position: absolute;
  z-index: 7;
  background-color: white;
  padding: 3px;
  border-radius: 4px;
}
.poster .image p::before {
  content: "";
  display: block;
  background: url("/img/star.png") 0 0/100% 100% no-repeat;
  position: relative;
  height: 20px;
  width: 20px;
  z-index: 10;
}
.poster img {
  border-radius: 10px;
  width: 210px;
  margin-right: 15px;
  margin-right: 15px;
}
.poster .title {
  font-size: 20px;
  margin: 7px 0 7px;
}

.tag {
  border-radius: 50px;
  padding: 4px 9px 5px;
  border: 1px solid #25282e;
  color: #25282e;
  display: flex;
  align-items: center;
  gap: 4px;
}
.tag::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #25282e;
  border-radius: 50%;
  margin-top: 2px;
}

.tags {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.delete-tag {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  margin-bottom: -2px;
}
.delete-tag_circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #25282e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-tag_stick_l {
  width: 1px;
  height: 12px;
  background-color: #25282e;
  transform: rotate(45deg);
  position: absolute;
  z-index: 5;
}
.delete-tag_stick_r {
  width: 1px;
  height: 12px;
  background-color: #25282e;
  transform: rotate(135deg);
  position: absolute;
  z-index: 6;
}

.info-block h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}
.info-block_main {
  display: flex;
}
.info-block_main_right {
  padding: 20px;
}
.info-block_main_right p {
  font-size: 16px;
  line-height: 19px;
}
.info-block_main_right p::first-letter {
  margin-left: 15px;
}

.series {
  margin-top: 15px;
}

h4 {
  font-size: 18px;
  margin: 12px 0;
}

.series-button {
  padding: 7px;
  width: 80px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  color: black;
  border: 1px solid #25282e;
}

.season {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.rating-block {
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  opacity: 0.35;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.rating-block_content {
  background-color: white;
  padding: 30px;
  border-radius: 30px;
}
.rating-block_content_buttons {
  display: flex;
  gap: 8px;
}
.rating-block_content_buttons a {
  color: black;
  font-size: 17px;
}

.active {
  display: flex;
  overflow: hidden;
}

.create-wrapper {
  border-radius: 20px;
  margin-top: 40px;
  width: 1220px;
  background-color: white;
  padding: 15px;
  font-size: 16px;
}
.create-wrapper input {
  padding: 4px 2px;
}
.create-wrapper input[type=file] {
  background-color: white;
}
.create-wrapper .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
}
.create-wrapper .form-group label {
  margin-bottom: 3px;
}
.create-wrapper .form-group span {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}
.create-wrapper button {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #25282e;
  background-color: inherit;
}
