@import "nullstyle.scss";

@import "dark.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


$delay: 0.35s;
html {
    font-family: 'Inter', sans-serif;
    height: 100%;
}
body {
    background-color: #ebf0fa;
}
header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 18px;
    //width: 100vw;
    & a {
        color: black;
        font-size: 18px;
    }

    & h2 {
        font-size: 25px;
        font-weight: 700;

        & span {
            background-color: hotpink;
            color: white;
            border-radius: 5px;
            padding: 3px 5px;
        }
    }

    & ul {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    & form{
        display:flex;
    }
}
.search-button {
    height: 34px;
    width: 34px;
    background-color: white;
    border-radius: 0 4px 4px 0;
    border-top: 1px solid #25282e;
    border-right: 1px solid #25282e;
    border-bottom: 1px solid #25282e;
    
    &::before {
        content: '';
        display: block;
        background: url('/img/searchBlack.png') 0 0/100% 100% no-repeat;
        position: relative;
        height: 20px;
        width: 20px;
        left: 6.5px;
        z-index: 100000;
    }
}
.header-nav {
    display: flex;
    gap: 20px;
}
.header-right-section {
    display: flex;
    align-items: center;
    gap: 10px;

    & input {
        border-radius: 4px 0 0 4px;
        border: 1px solid #25282e;
        padding: 6px;
        font-size: 16px;
        &::placeholder{
            color: black;
            opacity: 0.7;
        }
    }
}

.login-button {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left:5px;
    &::before {
        content: '';
        display: block;
        background: url('/img/userBlack.png') 0 0/100% 100% no-repeat;
        position: relative;
        height: 20px;
        width: 20px;
        left: -3px;
        z-index: 100000;
    }

    &::after {
        content: '';
        display: block;
        background: url('/img/userWhite.png') 0 0/100% 100% no-repeat;
        position: relative;
        left: -69.5px;
        height: 20px;
        width: 20px;
        opacity: 0;
        z-index: 100001;

    }
}
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    appearance: none;
    background-color: #25282e;
    margin: 0;
    font: inherit;
    color: black;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 4px;
    display: grid;
    place-content: center;
    overflow: hidden;
    margin-right: -8px;

    &::before {
        content: "";
        width: 22px;
        height: 22px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: #fff;
    }

    &:checked::before {
        transform: scale(1);
    }
}
/*.animation {
    transition: $delay;
    & .login-button {
        &::after {
            transition: $delay;
        }
    }
}*/

footer{
    position: fixed;
    z-index: 20;
    padding: 12px;
    bottom: 0;
    width:100%;
    background-color: white;
    & a{
        color: black;
    }
}
.container{
    width:100%;
    min-height: 100%;
    
}
.wrapper {
    //margin: 0;
    margin-left: 18%;   
    width: 64%;
    min-height: 100vh;
    background-color: white;
    padding: 15px 25px;
    & h3{
        font-size: 24px;
        font-weight: 600;
    }
    & .line{
        width: 100%;
        height: 2px;
        margin: 5px 0 10px;
        background-color: #25282e;
    }
}
.section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 10px;
    justify-content: start;
}
.poster {
    width: 238px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 12px;
    color: black;
    background-color: #ebf0fa;
    padding: 14px;
    border-radius: 10px;

    &:hover {
        -webkit-box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
        -moz-box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
        box-shadow: 0px 0px 12px 0px rgba(166,173,186,0.5);
    }

    & img {
        border-radius: 10px;
    }

    & h4 {
        font-size: 20px;
        margin: 7px 0 7px;
    }

    & p {
        display: flex;
        align-items: center;
    }

    & p::before {
        content: '';
        display: block;
        background: url('/img/star.png') 0 0/100% 100% no-repeat;
        position: relative;
        height: 20px;
        width: 20px;
        z-index: 10;
    }
}
.series-button{
    height: 20px;
    width: 30px;
    display: inline-block;
}
@import "detailpage.scss";