@using AnimeCatalog.ViewModels;
@model CreateAnimeViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="create-wrapper">
	<form method="post" asp-action="Create" enctype="multipart/form-data">
		<div class="form-group">
			<label asp-for="Name">Name</label>
			<input asp-for="Name" class="form-control" placeholder="Enter title">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Description">Description</label>
			<input asp-for="Description" class="form-control" placeholder="Enter description">
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="SeasonsAndSeries">Series (for example "25_25_25")</label>
			<input asp-for="SeasonsAndSeries" class="form-control" placeholder="Enter description">
			<span asp-validation-for="SeasonsAndSeries" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Tags">Tags (for example "drama short")</label>
			<input asp-for="Tags" class="form-control" placeholder="Enter description">
			<span asp-validation-for="Tags" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Image">Image</label>
			<input asp-for="Image" type="file" class="form-control" placeholder="Select an image">
			<span asp-validation-for="Image" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
